
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="container">
        <div class="row">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/Connectcarindia.png"/>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="" 
          class="nav-link px-2 link-secondary" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}">
            Home
        </a>
      </li>
      <li><a routerLink="aboutus" class="nav-link px-2 link-dark" routerLinkActive="active">About</a></li>
      <li><a routerLink="services" class="nav-link px-2 link-dark" routerLinkActive="active">Services</a></li>
      <li><a routerLink="contact" class="nav-link px-2 link-dark" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="array" class="nav-link px-2 link-dark" routerLinkActive="active">Array</a></li>
      <li><a routerLink="template-driven" class="nav-link px-2 link-dark" routerLinkActive="active">Template Driven Form</a></li>
      <li><a routerLink="comp1" class="nav-link px-2 link-dark" routerLinkActive="active">Compo1</a></li>
      <li><a routerLink="category" class="nav-link px-2 link-dark" routerLinkActive="active">Category</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="login" *ngIf="isLogin == 0">Login</button>
      <button type="button" class="btn btn-outline-primary me-2" (click)="logout()" *ngIf="isLogin == 1">logout</button>
      <button type="button" class="btn btn-primary" routerLink="signup">Sign-up</button>
    </div>
</div>
</div>
</header>
