<div class="container">
    <h2>Main Component</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium harum impedit illum? Minima odit cumque in? Dolorum similique quas commodi. Ex, voluptatibus. Accusamus eveniet laudantium atque quae inventore aspernatur beatae.</p>
    <br><br><br><br><br>
    <h1>{{userName}}</h1>

    <div class="row">
        <div class="col-sm-6">
            <app-comp1></app-comp1>
        </div>
        <div class="col-sm-6">
            <app-comp2></app-comp2>
        </div>
    </div>
</div>