<div class="container">
  <div class="row">  
<div class="col-sm-3">
    <app-sidebar></app-sidebar>
</div>
<div class="col-sm-9">
    <ul>
        <li *ngFor="let item of food" class="fruits" >{{item.name}} -<span appHightlight>{{item.mobile}}</span></li>
    </ul>

 <p >{{myName }}</p>
 <p class="status">I am a {{myStatus? "Online" : "Offline"}}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aperiam est dolore itaque vel eos in eveniet neque officia tempora, porro molestiae molestias, animi, doloremque quod! Quis nobis tempore <span appHightlight>animi!</span></p>
</div>
 
</div>
</div>


<!--

    parent child component



    common - parent component
        -header - child component
        -footer - child component
    
    courses
        -angular
        -react
        -java


    directive

    What is directive.

Host Listner & Host Binding


    Javascript
    
    if(mystatus=="true"){
    console.log(I am Online)
}else{
    conslole.log(I am offline)
} -->

<!-- 
String Interpolations & Data Binding

filters:
Uppercase
Pipe
Lowercase
Currency
date
limitto
orderBy
-->

<!-- 
    directives

ngFor and ngIf
 -->

 Introduce about yourself?
 How to use ngFor
 what is angular
 difference between angular js and angular
 explain  in @component decorators
 what is ngOnInit 
 how to use ngFor
 what is bootstrap
 what is doctype
 what is psodo class
 what is difference between templateUrl and template
 what is typescript
 what is databinding
 what is single page application
 what are filter in angular
 write one example in filter
 

