
<div class="container d-flex justify-content-center">
    
        <div class="col-sm-5 p-3 rounded shadow border">
            <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="signupform">
            <h3>SignUp!</h3>
            <hr>
            <div class="form-group mb-3 ">
                <label for="name">Full Name<span>*</span></label>
                <input type="text" class="form-control" name="name" formControlName="name" placeholder="Please enter your full name">
            </div>
            <div class="form-group mb-3">
                <label for="email">email Id<span>*</span></label>
                <input type="text" class="form-control" name="email" formControlName="email" placeholder="Please enter your email id">
            </div>
            <div class="form-group mb-3">
                <label for="password">Password<span>*</span></label>
                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Please enter your password">
            </div>
            <div class="form-group mb-3">
                <label for="education">Education</label>
                <input type="text" class="form-control" name="education" formControlName="education" placeholder="Please enter your education">
            </div>
            <div class="form-group mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" formControlName="city" placeholder="Please enter your City">
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <p><small>Allready login <a routerLink="/login">click here</a></small></p>
            </div>
        </form>
        </div>
    
</div>